#recs {
  grid-area: recs;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.rec_card {
  position: relative;
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "datetime"
    "venue";
}

.datetime {
  grid-area: datetime;
  position: absolute;
  left: 10px;
  margin: 0;
}

.venue {
  position: relative;
  grid-area: venue;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "image details";
}

.venue img {
  position: relative;
  max-width: 200px;
  max-height: 150px;
  height: auto;
  object-fit: contain;
}

.details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "name stars"
    "desc desc";
}

.name {
    grid-area: name;
}

.stars {
    grid-area: stars;
}

.desc {
    grid-area: desc;
}
